.chess-board {
    background-color: #EEEEE2;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.file:nth-of-type(odd) div:nth-of-type(even) {
    background-color: #769656;
}

.file:nth-of-type(even) div:nth-last-of-type(odd) {
    background-color: #769656;
}